{% extends 'accounts/base.html' %}
{% block title %}
    <title>About</title>
{% endblock %}

{% block body_block %}
    <!-- <div class="container"> -->
        <p id="about">The goal of this app is to help us become more aware of how we spend time in the process of doing those
            tasks and how productive that time is. It can help set some constraints on social media to reduce distraction
            and track the time we spend working on the todo items. When we have a better sense of the estimated time we’ll
            need to spend on our tasks, along with the validated time spent on the items for reference or personal/team reviews,
            we are able to manage our daily routines more efficiently.
        </p>
    <!-- </div> -->
{% endblock %}